#container {
	width: 50%;
	margin: 0 auto;
}

* {
	font-family: arial, sans-serif;
}

.title{
	margin-bottom: 100px;
}
a {
	text-decoration:none;
	background-color: lightgrey;
	padding: 15px 40px;
	font-size: 24px;
	font-family: arial, sans-serif;
	border-radius: 5px;
	font-size: 24px;
	transition: background-color 0.3s ease 0s;
	display: inline-block;

}

a:hover{
	background-color: darkgrey;
}

li {
	list-style: none;
}