body, html{
  width:100%;
}

.container {
	position:relative;
	top: 20%;
	width: 94.02985075%;
	max-width: 1260px;
	background: #fff;
	margin: auto;
}

.photo-container {
	margin-top: 100px;
	margin-left: 40px;
	text-align: center;
	margin-bottom: 4em;
	width:30%;
}

.photo {
	position: relative;
	line-height: 0;
	margin-bottom: 2em;
	overflow: hidden;
}
.photo-container img {
 	max-width: 100%;
 	overflow: hidden;
}


/* ================================= 
Transitions
==================================== */
img {
	transition: transform .5s; 
}

img:hover {
	transform: rotate(-5deg) scale(1.1);
}

.photo img {
	transform-origin: 50% 50%;
}

.photo:hover img {
	transform: scale(1.2);
}