body{
 height: 2000px;
}

#container{
  position: relative;
  height: 540px;
  background-image: url(../img/bird-bg-sml.jpg);
  background-repeat: no-repeat;
  background-size:auto;
  /*background-size: auto 600px;*/
  /*background-position: top center;*/
  background-attachment: fixed;
  overflow: hidden;
  border:1px solid red;
}


#fore{
  background-image: url(../img/fore-bird.png);
  background-repeat: no-repeat;
  /*background-position: right bottom;*/

  position: absolute;
  /*left: 0%;*/
  /*top: 600px;*/
  top: 200px;

  width: 960px;
  height: 733px;
}

#back{
  background-image: url(../img/back-bird.png);
  background-repeat: no-repeat;
  /*background-position: top left;*/
  
  position: absolute;
  /*left: 50%;*/

  width: 960px;
  height: 298px;
}
